.Join{
    width: 75%;
    background: gray;
    margin: 0 auto;
        
    }
    
    .join-Form{
        
        margin-bottom: 10px;
        border: 3px solid rgb(159, 184, 149);
        padding:10px 100px;
        text-align: center;
        border-radius: 25px;
        background-color: white;
    }
    .Name-label{
        border: 2px solid rgb(115, 156, 115);
        padding:5px 15px;
        background-color: rgb(115, 156, 115);
        border-radius: 25px;
    }