.contentprevref {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .pagetitleprevref h1 {
    color: green;
  }  

  table {
    border-collapse: collapse;
    width: 100%;
   
  }

  .tableprevref tdprevref {
    display: block;
    padding: 10px;
  }

  thprevref, tdprevref {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  thprevref {
    background-color: #f2f2f2;
  }

  trprevref:nth-child(even) {

    background-color: #f2f2f2;
  }

  .tableprevref table {
    border-collapse: collapse;
    width: 20%;
    
  }

  .tableprevref thprevref
  .tableprevref tdprevref {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    text-align: center;
    
  }

  .tableprevref thprevref {
    background-color: green;
    display: block;
    padding: 10px;
    text-align: center;
  }
  
 
  